<div class="glav" style="background-image: url(..assets/images/contact.png);">
  <div id="contactus">
        <h1 style="margin-top: 30px;color:gray;margin-left: 20px;font-size: 28px;margin-bottom: 40px;font-family: fantasy;">Связитесь с нами</h1>
        <input id ="c-us" type="text" placeholder=" Your name">
        <input id ="c-us" type="mail" placeholder=" Your email" >
        <input id ="c-us" type="tel" placeholder=" Phone Number">
        <input id ="c-us-text" type="text" placeholder=" Your Message" >
        <button type="submit" id="sub-mit">Submit</button>
  </div>


</div>
