

<div id="info-1">
      <div id="adv-1">
              <img id="dostavka" src="assets/images/dostavka.png">
              <p style="position:relative;top:-45px;left: 60px;font-family: Raleway, sans-serif;width: 400px;margin-right: 0;">Безопасная оплата & Легкий возврат</p>
      </div>
      <div id="adv-2">
              <img id="dostavka" src="assets/images/dollar.png">
              <p style="position:relative;top:-45px;left: 60px;font-family: Raleway, sans-serif;width: 400px;margin-right: 0;">100% Гарантия возврата</p>
      </div>
      <div id="adv-3">
              <img id="dostavka" src="assets/images/always.png">
              <p style="position:relative;top:-45px;left: 60px;font-family: Raleway, sans-serif;width: 400px;margin-right: 0;">Онлайн поддержка 24/7</p>
      </div>
</div>



<div class="m-car">
  <div class="c-c">
    <img style="width: 1425px;height:400px" src="assets/images/slide11.jpg">
  </div>

<h2 style="text-align:center;font-size:36px;">Top Sales</h2>
  <div id="topsales">

    <div class="product">
      <a class="product-here" href="single-page.html"><img src="assets/images/p1.jpg" title="product-name" /></a>
      <h4 id="proname"><a href="single-page.html">GoDavari Herbals</a></h4>
      <a class="product-btn" href="single-page.html"><span>10000тг</span><small>Купить</small><label> </label></a>
    </div>
    <div class="product">
      <a class="product-here" href="single-page.html"><img src="assets/images/p2.jpg" title="product-name" /></a>
      <h4 id="proname"><a href="single-page.html">GoDavari Herbals</a></h4>
      <a class="product-btn" href="single-page.html"><span>10000тг</span><small>Купить</small><label> </label></a>
    </div>
    <div class="product">
      <a class="product-here" href="single-page.html"><img src="assets/images/p3.jpg" title="product-name" /></a>
      <h4 id="proname"><a href="single-page.html">GoDavari Herbals</a></h4>
      <a class="product-btn" href="single-page.html"><span>10000тг</span><small>Купить</small><label> </label></a>
    </div>
    <div class="product">
      <a class="product-here" href="single-page.html"><img src="assets/images/p4.jpg" title="product-name" /></a>
      <h4 id="proname"><a href="single-page.html">GoDavari Herbals</a></h4>
      <a class="product-btn" href="single-page.html"><span>10000тг</span><small>Купить</small><label> </label></a>
    </div>

  </div>
</div>
