<div class="m-list">
  <div class="container">
    <div class="btn-toolbar">
      <div class="btn-group btn-group-sm">
        <button class="btn btn-default">A</button>
        <button class="btn btn-default">B</button>
        <button class="btn btn-default">C</button>
        <button class="btn btn-default">D</button>
        <button class="btn btn-default">E</button>
        <button class="btn btn-default">F</button>
        <button class="btn btn-default">G</button>
        <button class="btn btn-default">H</button>
        <button class="btn btn-default">I</button>
        <button class="btn btn-default">J</button>
        <button class="btn btn-default">K</button>
        <button class="btn btn-default">L</button>
        <button class="btn btn-default">M</button>
        <button class="btn btn-default">N</button>
        <button class="btn btn-default">O</button>
        <button class="btn btn-default">P</button>
        <button class="btn btn-default">Q</button>
        <button class="btn btn-default">R</button>
        <button class="btn btn-default">S</button>
        <button class="btn btn-default">T</button>
        <button class="btn btn-default">U</button>
        <button class="btn btn-default">V</button>
        <button class="btn btn-default">W</button>
        <button class="btn btn-default">X</button>
        <button class="btn btn-default">Y</button>
        <button class="btn btn-default">Z</button>
      </div>
    </div>
  </div>


  <br>
  <div id="topsales">

    <div class="product">
      <a class="product-here" href="single-page.html"><img  src="assets/images/p1.jpg" title="product-name" /></a>
      <h4 id="proname"><a href="single-page.html">GoDavari Herbals</a></h4>
      <a class="product-btn" href="single-page.html"><span>10000тг</span><small>Купить</small><label> </label></a>
    </div>
    <div class="product">
      <a class="product-here" href="single-page.html"><img src="assets/images/p2.jpg" title="product-name" /></a>
      <h4 id="proname"><a href="single-page.html">GoDavari Herbals</a></h4>
      <a class="product-btn" href="single-page.html"><span>10000тг</span><small>Купить</small><label> </label></a>
    </div>
    <div class="product">
      <a class="product-here" href="single-page.html"><img src="assets/images/p3.jpg" title="product-name" /></a>
      <h4 id="proname"><a href="single-page.html">GoDavari Herbals</a></h4>
      <a class="product-btn" href="single-page.html"><span>10000тг</span><small>Купить</small><label> </label></a>
    </div>
    <div class="product">
      <a class="product-here" href="single-page.html"><img src="assets/images/p4.jpg" title="product-name" /></a>
      <h4 id="proname"><a href="single-page.html">GoDavari Herbals</a></h4>
      <a class="product-btn" href="single-page.html"><span>10000тг</span><small>Купить</small><label> </label></a>
    </div>

  </div>

</div>
