<div id="menu">
   <h1 id="title">Dari Store Online</h1>

   <a style="position: absolute;right:170px;top: 30px;color: white;" routerLink="/">Sign in</a>
   <a style="position: absolute;right:25px;top:30px; color: white;" routerLink='/'>Create an account</a>

</div>

 <div id='cssmenu'>
   <ul>
      <li><a routerLink="/" href='#'>Home</a></li>
      <li><a href='products.html'>Products</a></li>
      <li><a href='categories.html'>Categories</a></li>
      <li><a routerLink="/about" href='contact.html'>Contact</a></li>
   </ul>
 </div>

 <div class="wrap">
     <div class="search">
         <input type="text" class="searchTerm" placeholder="What are you looking for?">
         <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
         </button>
     </div>
 </div>
 <div>
   <router-outlet></router-outlet>

 </div>


<div id="contact">
                <div style="width: 1200px;height: 150px;border-bottom: 1px solid #3d3d38;margin-left: 100px;display:flex;flex-direction: row;">
                    <div>
                            <h2 style="padding-top: 50px;color: #fff;font-size:16px;text-transform:uppercase;text-align: left;font-style: normal;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Узнай первым</h2>
                            <h3 style="margin: 0;text-align: left;color: #A8A8A8;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 13px;">Узнай первым все новые посутпление и скидки</h3>
                    </div>

                   <div style="display:table-cell;vertical-align:top;width:1%; margin-top: 60px;margin-left:190px;display: flex; flex-direction: row;">
                        <input style="width: 198px;height: 42px;background-color: white;color: #686865;font-size: 14px;border-radius: 30px 0px 0px 30px;padding-left: 40px;" type="mail" placeholder="Email Address">
                        <button style="background-color: #47c9af;border-color: #47c9af;color: #FFFFFF;height:48px;border-radius: 0 30px 30px 0;text-transform: uppercase;padding: 0px 22px;" title="Subscribe" type="submit">
                            <span>Subscribe</span>
                        </button>
                    </div>
                </div>

                <div id="second-c">
                    <div id="c-info" style="padding-top: 10px;margin-left: 100px;">
                            <h2 style="color: #fff;font-size:16px;text-transform:uppercase;text-align: left;font-style: normal;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Контактные данные</h2>
                            <h4 style="color: #fff;">Адрес</h4>
                            <h3 style="margin: 0;text-align: left;color: #A8A8A8;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 13px;">Басенова,25</h3>
                            <h4 style="color: #fff;">Телефон</h4>
                            <h3 style="margin: 0;text-align: left;color: #A8A8A8;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 13px;">+7 (747) 201 43 25 </h3>
                            <h4 style="color: #fff;">Электронный адрес</h4>
                            <h3 style="margin: 0;text-align: left;color: #A8A8A8;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 13px;">ablainuraliev@gmail.com</h3>

                    </div>
                </div>
            </div>
