<div id="login-box">
  <div class="left">
    <h1>Регистрация</h1>

    <input type="text" name="username" placeholder="Имя" />
    <input type="text" name="email" placeholder="Электронный адрес" />
    <input type="password" name="password" placeholder="Пароль" />
    <input type="password" name="password2" placeholder="Потверждение пароля" />

    <input type="submit" name="signup_submit" value="Регистрация" />
  </div>

  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>

    <button class="social-signin facebook">Через Facebook</button>
    <button class="social-signin twitter">Через Twitter</button>
    <button class="social-signin google">Через Google</button>
  </div>
  <div class="or">или</div>
</div>
